/* links for fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|Montserrat:400,600,700');


/* General settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}



a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
}


/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: transparent;
    z-index: 2;
}

.menu {
    line-height: 4em;
    padding-left: 2em;
    color: #fff;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3em;
}

.overlay {
    width: 100%;
    height: 0;
    overflow-y: hidden;
}

.overlay a {
    display: block;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}


.desk-nav {
    display: none;
}


/* Home screen */

.home-screen {
    background-image: linear-gradient(
     to right bottom,
     rgba(235, 235, 235, 0.4),
     rgba(56, 56, 56, 0.4)),
      url(../img/fish.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    /*
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/

}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 90%;
    text-align: center;
}

.scroll-down {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    height: 3em;
    width: 1.5em;
    border: 1px solid #ED7E70;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
}

.triangle-wrapper {
    height: 2.5em;
    width: 0.5em;

}

.scroll-triangle {
    border-top: 6px solid #ED7E70;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: 0.5em 0.35em;
    animation: scroll 2s ease-in-out infinite;
}

@keyframes scroll {
    to {
        transform: translateY(2em);
    }
}

/* main section */

main {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 1em;
    /*
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-perspective: 1px;
    perspective: 1px;*/
}



.solutions {
    position: relative;
    /* ensure children exist in 3D planes
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/

}



.parallax {
    position: absolute;
    top: -12em;
    left: -10em;
    height: 30em;
    /*
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);*/
}

.solutions-h1 {
    background: url(../img/fish-378286_1920.jpg) no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15vw;
    margin-top: 2.5em;

}

.solutions-h1::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #ED7E70;
    width: 50%;
    transform: translateX(100%);
    height: 0.5em;
    margin-bottom: 1em;
}



.solutions-h2 {
    margin: 3em 0 1em 0;
    text-align: center;
}

.solutions-h2::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #ED7E70;
    width: 50%;
    height: 0.5em;
}

.standars-item {
    margin: 1em;
}

.video{
    position: relative;
    height: 0;
    width: 90%;
    padding-bottom: 56.25%;
    padding-top: 25PX;
    margin: 2em auto;

}


iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.gallery-btn{
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    border: none;
    text-decoration: none;
    padding: 1rem 4rem;
    background: #ED7E70;
    border-radius: 0.5rem;
    padding: 0.5em 1em;
    margin: 0 auto;
    transition:  all .2s;
}


.gallery-btn:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.gallery-btn:active {
    transform: translateX(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

/* circle chart animation */

.hidden {
    opacity: 0;
}

.fade-in {
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.stadistics{
    text-align: center;
}

.circleChart {
    position: relative;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    z-index: 2;
    margin: 0 auto;
}

.circles-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.circleChart:hover .circles-container {
    transform: rotateY(180deg);
}

.wrapp {
    width: 250px;
    height: 250px;
    transform: rotate(-90deg);
    z-index: 2;
}

.front-circle,
.back-circle {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.back-circle {
    left: -0.6em;
    transform: rotateY(-180deg);
}



.stick-circle {
    fill: none;
    stroke: rgba(159, 154, 154, 0.4);
    stroke-width: 8;
}


.percentage {
    fill: none;
    stroke: #ED7E70;
    stroke-width: 6;
    stroke-dasharray: 627.31;

}

#back-circle {
    fill: #aaa9a9;
    stroke-width: 6;
    stroke: #aaa9a9;
}

.percentageT {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

/* animation percentage */

.dash {
    animation: dash 2s 1s ease-in-out both;
}

@keyframes dash {
    from {
        stroke-dashoffset: 627.30;
    }

    to {
        stroke-dashoffset: 457;
    }
}

/* media section */

.media {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em 0;
}

.media-background{
    width: 100%;
    height: 40em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #001826;
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    z-index: -1;
}


.media-img{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    cursor: pointer;
}

.media-img:hover{
    transform: scale(1.1);
}

.contact{
margin: 0 4em;
padding-bottom: 2em;
}


.contact-icon{
    width: 100%;
    height: 13em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin: 2em 0;
    background-color: #f7f7f7;
    text-align: center;
    cursor: pointer;
}

.contact-icon:hover{
    transform: scale(1.1);
}

.far{
    margin-top: 0.4em;
    font-size: 5em;
    color: #001826;
}

.contact-p{
    color: #ED7E70;
    font-weight: 700;
    padding-top: 1.5em;
}

@media only screen and (min-width: 1000px){

    header{
        height: auto;
    }

    .mobile-nav{
        display: none;
    }

    .desk-nav {
    display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "home about logo-container campaign contact";
        text-align: center;
}

    .home{
        grid-area: home;
    }

    .about{
        grid-area: about;
    }

    .logo-container{
        grid-area: logo-container;
        position: relative;
    }

    .logo{
        position: absolute;
        top: 3.5em;
        height: 5em;
    }

    .campaign{
        grid-area: campaign;
    }

    .contact{
        grid-area: contact;
    }


    .desk-nav a{
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        padding: 2em 0 0.5em 0;
    }

    .desk-nav a:hover::after{
        content: " ";
        border-bottom: 2px solid #ed7e70;
        display: block;
        width: 0;
        margin: auto;
        animation: subline .6s ease-in-out both;
    }

    @keyframes subline{
        to{
            width: 3em;
        }
    }

    main{
        padding: 0;
    }

    .slogan{
        font-size: 5vw;
    }

    .solutions{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.2fr 1fr;
        grid-template-areas:
            "solutions-h1 solutions-h1"
            "h2 h2"
            "video standars-list";
        padding: 0 10em;
    }

    .parallax{
        height: 55em;
    }

    .solutions-h1{
        grid-area: solutions-h1;
        font-size: 4vw;
        margin-top: 1.7em;
    }



    .h2{
        grid-area: h2;
        font-size: 2vw;
        margin-top: 0;
    }

    .standars-list{
        grid-area: standars-list;
    }

    .video{
        margin: 0 auto;
    }

    .stadistics{
        height: auto;
    }

    .media{
        margin-top: 4em;
    }

    .media-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "img1 img2 img3";
        padding: 0 10em;

    }

    .img1{
        grid-area: img1;
    }

    .img2{
        grid-area: img2;
    }

    .img3{
        grid-area: img3;
    }

    .media-background{
        height: 30em;
        -webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
    }

    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "fa-envelope fa-handshake fa-file-alt";
        padding: 0 10em;
        column-gap: 2em;
    }

    .fa-envelope{
        grid-area: fa-envelope;
    }

    .fa-handshake{
        grid-area: fa-handshake;
    }

    .fa-file-alt{
        grid-area: fa-file-alt;
    }



}
